<ng-container *ngIf="taskLists === null">
Loading
</ng-container>
<ng-container *ngIf="taskLists">

  <ng-container *ngIf="loaded != taskLists.length">
    Loading Tasks ({{loaded}}/{{taskLists.length}})
  </ng-container>
  {{taskLists.length}} Task Lists

  <ul>
    <li *ngFor="let taskList of taskLists">
       Name: {{taskList.displayName}}
       Tasks: {{taskList.tasks?.length}}
       <ul>
        <li *ngFor="let task of taskList.tasks">
          Name: {{task.title}}
        </li>
       </ul>
    </li>
  </ul>
</ng-container>

